@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0 40px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.container {
  display: flex;
  flex-flow: column wrap;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero {
  display: flex;
  z-index: 1;
  padding: 0 70px;
}

.logo {
  margin-bottom: -12px;
}

.logo-img {
  width: 140px;
  height: 70px;
  object-fit: cover;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  min-width: 350px;
  min-height: 64px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-wrap: wrap;
}

.nav-link {
  display: block;
  color: #000000;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  opacity: 0.6;
}

.nav-link:active {
  opacity: 0.3;
}

.nav-link:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.nav-link-current {
  position: relative;
}

.nav-link-current::after {
  content: "";
  position: absolute;
  height: 2px;
  right: 16px;
  left: 16px;
  bottom: 0;
  background-color: #756157;
}

.nav-user {
  margin-left: auto;
  min-height: 64px;
}

.nav-list-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 300px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-items: center;
}

.nav-link-search {
  display: flex;
  padding: 22px 12px;
}

.nav-link-favorites {
  display: flex;
  position: relative;
  padding: 22px 12px;
}

.nav-favorites-number {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 20px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  background: #7db54f;
}

.nav-button {
  min-width: 160px;
  padding: 8px 34px;
  margin: 0;
  margin-left: 20px;
  max-width: 160px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}

.nav-button:hover,
.nav-button:focus {
  background-color: #615048;
}

.nav-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.nav-button:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.main-page {
  flex-grow: 1;
}

.welcome {
  display: flex;
  position: relative;
  justify-content: center;
  min-height: 485px;
  padding-top: 51px;
  padding-bottom: 82px;
  text-align: center;
  background-image: url("../images/home/page-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3f3f3f;
}

.welcome::before {
  content: "";
  position: absolute;
  bottom: 0;
  min-width: 1200px;
  min-height: 57px;
  background-image: url("../images/home/page-divider.svg");
}

.welcome-logo {
  width: 458px;
  height: 352px;
  object-fit: cover;
}

.advantages-title-wrapper {
  margin: 0 auto;
  padding: 69px 272px 90px;
}

.advantages-title-city {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
  min-height: 385px;
  list-style-type: none;
  text-align: center;
  align-items: center;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-wrapper {
  display: flex;
  flex-flow: column wrap;
  padding: 102px 85px;
  margin: 0;
  width: 400px;
  align-items: center;
}

.advantages-image {
  width: 800px;
  height: 100%;
  object-fit: cover;
}

.advantages-title {
  max-width: 172px;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title-item::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-title-center::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.advantages-item-square,
.advantages-item-road,
.advantages-item-tourist {
  display: flex;
  flex-flow: column wrap;
  width: 400px;
  padding: 112px 85px;
  margin: 0;
  color: #000000;
}

.advantages-item-square > .advantages-description,
.advantages-item-road > .advantages-description,
.advantages-item-tourist > .advantages-description {
  color: #333333;
}

.advantages-item-square,
.advantages-item-tourist {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  padding: 64px;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
}

.services-title-city {
  margin: 0;
  margin-bottom: 20px;
  max-width: 510px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.services-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
  gap: 30px;
  align-items: center;
  text-align: center;
}

.services-img {
  object-fit: contain;
}

.services-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.services-description {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.services-text-description {
  max-width: 230px;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.services-item-house,
.services-item-souvenir {
  background-color: rgba(131, 179, 211, 0.12);
}

.search {
  display: flex;
  flex-direction: column;
  min-height: 406px;
  padding: 96px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.search-title {
  max-width: 592px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  max-width: 580px;
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.search-link {
  padding: 8px 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  color: #ffffff;
  background-color: #756157;
}

.search-link:hover,
.search-link:focus {
  background-color: #615048;
}

.search-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.search-link:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.subscribe {
  display: flex;
  flex-direction: column;
  min-height: 415px;
  padding: 96px;
  padding-bottom: 104px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-position: center;
  background-image: url("../images/home/subscribe-background.jpg");
  background-color: #3f3f3f;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.subscribe-catalog {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  max-width: 475px;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 54px;
}

.field-email {
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
}

.field-email[placeholder] {
  padding: 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.field-email:focus {
  outline: 2px solid #68a2ca;
}

.field-email:hover {
  background-color: #e6e6e6;
}

.field-email:active {
  outline: 2px solid #3f5e72;
}

.field-email:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.field-email:not(.field-email:placeholder-shown) {
  outline: 2px solid #000000;
  background-color: #e6e6e6;
}

.subscribe-button {
  width: 232px;
  padding: 8px;
  border: none;
  border-radius: 0 4px 4px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #82b3d3;
  color: #ffffff;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #68a2ca;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.subscribe-button:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: #ffffff;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 35px;
  align-items: center;
}

.footer-contact-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-contact-item {
  display: flex;
  flex-wrap: wrap;
}

.footer-contact-link {
  display: flex;
  color: #83b3d3;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: #68a2ca;
}

.footer-contact-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.address-phone {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}

.footer-phone {
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-logo-html {
  display: flex;
  max-width: 120px;
  color: #000000;
}

.footer-phone:hover,
.footer-phone:focus,
.footer-logo-html:hover,
.footer-logo-html:focus {
  color: #756157;
}

.footer-phone:active,
.footer-logo-html:active {
  color: rgba(117, 97, 87, 0.3);
}

.catalog-products {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0;
  padding: 35px 70px 70px;
  background-image: url("../images/catalog/filter-catalog-background.jpg");
  background-color: #3f3f3f;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.catalog-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  gap: 28px;
  list-style-type: none;
  align-items: center;
}

.breadcrumbs-item {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.breadcrumbs-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -19px;
  transform: translateY(-50%);
  width: 7px;
  height: 10px;
  background-image: url("../images/catalog/pagination-arrow-right.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link-house {
  background-image: url("../images/catalog/pagination-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
}

.breadcrumbs-link-house:hover {
  opacity: 0.6;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  width: 1060px;
  margin-top: 40px;
}

.catalog-filter-group {
  display: flex;
  padding: 0;
  margin: 0;
  max-width: 160px;
  border: none;
}

.catalog-filter-home {
  margin-left: 70px;
}

.catalog-filter-price {
  margin-left: auto;
}

.catalog-filter-title {
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 15px;
  list-style-type: none;
}

.control {
  position: relative;
  padding-left: 36px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:has(:disabled) {
  pointer-events: none;
}

.control:hover,
.control-mark:hover {
  opacity: 0.6;
}

.control:active,
.control-mark:active {
  opacity: 0.3;
}

.control:focus-within .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input {
  margin: 0;
  padding: 0;
  opacity: 0;
}

.control-input[type="checkbox"]:checked ~ .control-mark::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url("../images/catalog/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"] ~ .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked ~ .control-mark::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
}

.control-input:disabled ~ .control-mark,
.control-input:disabled ~ .control-item {
  pointer-events: none;
  opacity: 0.3;
}

.catalog-filter-wrapper {
  display: flex;
  position: relative;
  min-width: 289px;
  gap: 2px;
}

.control-price {
  position: relative;
  height: 48px;
}

.control-input-interval {
  padding: 12px 20px;
  margin: 0;
  width: 143px;
  height: 48px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-color: #f2f2f2;
}

.control-input-interval::-webkit-outer-spin-button,
.control-input-interval::-webkit-inner-spin-button {
  appearance: none;
}

.control-input-interval {
  -moz-appearance: textfield;
}

.control-input-interval::placeholder {
  color: #000000;
}

.control-input-interval:hover {
  background-color: #e6e6e6;
}

.control-input-interval:focus-within {
  outline: 3px solid #83b3d3;
}

.control-input-interval:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.control-input-interval:not(.control-input-interval:placeholder-shown) {
  outline: 2px solid #000000;
  background-color: #e6e6e6;
}

.control-interval-next {
  border-radius: 0 4px 4px 0;
}

.control-text {
  content: "от";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 17px;
  height: 24px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.range {
  position: absolute;
  top: 92px;
  left: 1px;
}

.range-scale {
  width: 287px;
  height: 4px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-bar {
  width: 226px;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #82b3d3;
}

.range-toggle:focus {
  outline: 3px solid #2f96db;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  left: 206px;
}

.filter-button-wripper {
  display: flex;
  flex-direction: column;
  margin: 56px 0 0 70px;
  padding: 0;
  gap: 32px;
}

.filter-button {
  padding: 8px 50px;
  border-radius: 4px;
  max-width: 191px;
  border: none;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #68a2ca;
}

.filter-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.filter-button:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: #ffffff;
}

.reset-button {
  padding: 8px 58px;
  border: none;
  max-width: 191px;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}

.reset-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset-button:focus {
  outline: 3px solid #83b3d3;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: #ffffff;
}

.search-catalog {
  padding: 50px 70px 60px;
}

.pagination-hotels {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  min-height: 49px;
}

.search-result {
  margin: 0;
  max-width: 350px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-sorting {
  display: flex;
  align-items: center;
  width: 292px;
  padding: 12px 20px;
  margin-left: auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/catalog/vector-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-color: #ffffff;
  color: #333333;
  appearance: none;
  cursor: pointer;
}

.select-sorting:hover,
.search-sorting:focus {
  border-color: #68a2ca;
}

.select-sorting:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  max-width: 165px;
  list-style-type: none;
  gap: 8px;
}

.search-sort-link {
  width: 48px;
  height: 48px;
  padding: 17px 16px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button-choose {
  border: 2px solid #000000;
}

.sort-button-cards {
  background-image: url("../images/catalog/icon-cards.svg");
}

.sort-button-slider {
  background-image: url("../images/catalog/icon-slider.svg");
}

.sort-button-list {
  background-image: url("../images/catalog/icon-list.svg");
}

.search-sort-link:hover,
.search-sort-link:active {
  border: 2px solid #000000;
}

.search-sort-link:focus {
  border: 2px solid #68a2ca;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-gap: 20px;
}

.hotel-item {
  display: flex;
  flex-flow: column wrap;
  padding: 19px;
  border: 1px solid #e6e6e6;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-item-link {
  display: flex;
  flex-flow: column wrap;
  text-decoration: none;
  color: #000000;
}

.hotel-item-title {
  margin: 16px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-item-image {
  width: 300px;
  height: 212px;
  object-fit: cover;
  order: -1;
}

.card-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px 20px;
  align-items: center;
  justify-content: center;
}

.hotel-item-text,
.hotel-item-price {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.hotel-item-price {
  text-align: right;
}

.hotel-item-info {
  display: block;
  padding: 8px 26px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #756157;
  color: #ffffff;
}

.hotel-item-info:hover,
.hotel-item-info:focus {
  background-color: #615048;
}

.hotel-item-info:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.hotel-item-info:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.hotel-item-button {
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  cursor: pointer;
}

.hotel-item-button:hover,
.hotel-item-button:focus {
  background-color: #68a2ca;
}

.hotel-item-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.hotel-item-button:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.hotel-button-current {
  background-color: #7db54f;
  padding: 8px 18px;
}

.hotel-button-current:hover,
.hotel-button-current:focus {
  background-color: #6c9e42;
}

.hotel-button-current:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.stars {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  gap: 6px;
}

.rating-star {
  width: 18px;
  height: 17px;
  background-image: url("../images/catalog/icon-star.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-rating-text {
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  color: #333333;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 80px;
  align-items: center;
  gap: 8px;
}

.pagination-list::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  top: -40px;
  background-color: #e6e6e6;
}

.pagination-item {
  display: flex;
}

.pagination-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  background-color: #82b3d3;
  color: #ffffff;
  cursor: pointer;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
  border: 0 solid #82b3d3;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-current {
  border: none;
  background-color: #f2f2f2;
  color: #000000;
  pointer-events: none;
}

.pagination-current:hover,
.pagination-current:focus {
  border: none;
  background: #f2f2f2;
  color: #000000;
  pointer-events: none;
  cursor: default;
}

.pagination-space {
  background-color: #ffffff;
  color: #000000;
}

.pagination-space:hover,
.pagination-space:active {
  border: none;
  background-color: #ffffff;
  color: #000000;
  cursor: default;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.15);
}

.modal-container.is-show {
  display: flex;
}

.modal {
  position: relative;
  padding: 64px 70px;
  width: 717px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  padding: 0;
  border: 0 solid #f2f2f2;
  border-radius: 50%;
  background-image: url("../images/modal/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #82b3d3;
}

.modal-close-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin: 0 0 64px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
}

.field-group {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.field-group::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  right: 18px;
  transform: translate(0, 70%);
  background: url("../images/modal/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-text {
  display: flex;
  flex-wrap: wrap;
  width: 137px;
  margin-bottom: 4px;
  align-items: center;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.modal-date {
  position: relative;
  flex-grow: 1;
  padding: 12px 20px;
  margin-bottom: 4px;
  border: none;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-color: #f2f2f2;
  cursor: text;
}

.modal-date::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-image: url("../images/calendar.svg");
}

.modal-date::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.modal-date:hover {
  background-color: #e6e6e6;
}

.modal-date:focus-within {
  outline: 3px solid #83b3d3;
}

.modal-date:active {
  outline: 2px solid #83b3d3;
}

.modal-date:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.modal-date::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.modal-info {
  margin-left: 157px;
  margin-bottom: 23px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ff5757;
}

.modal-date-info {
  color: #000000;
}

.modal-ages {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-bottom: 48px;
}

.modal-people-control {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.less-button,
.more-button,
.ages-number {
  position: relative;
  border: none;
  background-color: #f2f2f2;
}

.ages-number {
  display: flex;
  flex-wrap: wrap;
  max-width: 31px;
  height: 48px;
  padding: 0;
  text-align: center;
}

.ages-number::-webkit-outer-spin-button,
.ages-number::-webkit-inner-spin-button {
  appearance: none;
}

.ages-number {
  -moz-appearance: textfield;
}

.ages-number[value] {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.ages-number:hover {
  background-color: #e2e2e2;
}

.less-button {
  border-radius: 4px 0 0 4px
}

.more-button {
  border-radius: 0 4px 4px 0;
}

.ages-number:focus {
  outline: none;
}

.less-button,
.more-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 48px;
  padding: 0;
  cursor: pointer;
}

.less-button:focus,
.more-button:focus {
  outline: none;
}

.less-button svg,
.more-button svg {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.less-button:focus svg,
.more-button:focus svg {
  outline: 3px solid #82b3d3;
}

.clue {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.clue-button {
  display: flex;
  padding: 0;
  border: none;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
}

.clue-button:hover {
  opacity: 0.8;
}

.clue-text {
  display: flex;
  position: absolute;
  top: 71%;
  right: 112px;
  width: 256px;
  height: 143px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 15px 18px 18px 22px;
  transition: opacity 0.3s ease;
  color: #ffffff;
  background-color: #333333;
  opacity: 0;
  pointer-events: none;
}

.clue-text::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 50%;
  width: 19px;
  height: 9px;
  background: url("../images/modal/info-arrow.svg");
  transform: translate(-50%, -100%);
}

.clue-button:hover + .clue-text {
  opacity: 1;
  pointer-events: all;
}

.modal-child {
  display: flex;
  flex-wrap: wrap;
  width: 59px;
  align-items: center;
}

.modal-child-control {
  display: flex;
  flex-wrap: wrap;
  margin-left: 46px;
}

.modal-button-search {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  padding: 18px 100px;
  border: none;
  border-radius: 10px;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #83b3d3;
  color: #ffffff;
  cursor: pointer;
}

.modal-button-search:hover,
.modal-button-search:focus {
  background-color: #68a2ca;
}

.modal-button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.modal-button-search:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: #ffffff;
}

.less-button path,
.more-button path {
  fill: rgba(0, 0, 0, 0.3);
}

.less-button:hover path,
.more-button:hover path {
  fill: #000000;
  outline: none;
}

.less-button:active path,
.more-button:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.less-button:focus-visible path {
  outline: 3px solid #82b3d3;
}
