@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
  height: 100%;
  margin: 0;
  padding: 0 40px;
}

.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.30)
}

.logo {
  margin-bottom: -12px;
}

.logo-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.hero {
  display: flex;
  padding: 0 70px;
  z-index: 1;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  min-width: 350px;
  min-height: 64px;
  margin-left: 30px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 339px;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-link-current {
  position: relative;
}

.nav-link-current::after {
  content: "";
  position: absolute;
  background-color: #756157;
  height: 2px;
  right: 16px;
  left: 16px;
  bottom: 0;
}

.nav-link {
  display: block;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 16px;
}

.nav-link:hover,
.nav-link:focus {
  opacity: 0.6;
}

.nav-link:active {
  opacity: 0.3;
}

.nav-user {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.nav-list-user {
  display: flex;
  flex-wrap: wrap;
  min-width: 268px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-items: center;
}

.nav-link-search {
  display: block;
  background-image: url(../images/icons-search.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 44px;
  height: 64px;
  padding: 0;  
}

.nav-link-favorites {
  background-image: url(../images/icons-heart.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
  width: 44px;
  height: 64px;
  padding: 0;
}

.nav-favorites-number {
  display: block;
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  border-radius: 50%;
  background: #7db54f;
  padding: 5px 5px 5px 4px;
  margin: 11px 4px 33px 20px;
}

.nav-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 34px;
  margin: 0;
  margin-left: 20px;
}

.nav-button:hover,
.nav-button:focus {
  background-color: #615048;
}

.nav-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.main-page {
  flex-grow: 1;
}

.welcome {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #3f3f3f;
  text-align: center;
  background-image: url(../images/home/page-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 485px;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome::before {
  content: "";
  position: absolute;
  background-image: url(../images/home/page-divider.svg);
  bottom: 0;
  min-width: 1200px;
  min-height: 57px;
}

.advantages-title-wrapper {
  margin: 0 auto;
  padding: 69px 274px 90px;
}

.advantages-title-city {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-intro {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
  background-color: #82b3d3;
  color: #ffffff;
  list-style-type: none;
  text-align: center;
  align-items: center;
}

.advantages-image {
  height: 100%;
  object-fit: cover;
}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 102px 85px;
  margin: 0;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 172px;
  margin: 0;
}

.advantages-title-item::after,
.advantages-title-item::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 30px auto;
}

.advantages-title-center::after,
.advantages-title-center::after,
.advantages-title-center::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px auto;
}

.advantages-description {
  font-size: 18px;
  font-weight: 400PX;
  line-height: 21px;
  margin: 0;
}

.advantages-item-square,
.advantages-item-road,
.advantages-item-tourist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  padding: 112px 85px;
  margin: 0;
  color: #000000;
}

.advantages-item-square,
.advantages-item-tourist {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  padding: 64px;
}

.services-title-city {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  max-width: 510px;
}

.services-list {
  display: flex;
  min-height: 385px;
  margin: 0;
  padding: 0;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 81px 85px;
  text-align: center;
  gap: 30px;
}

.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.services-text-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  max-width: 230px;
  margin: 0;
}

.services-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.services-item-house,
.services-item-souvenir {
  background-color: rgba(131, 179, 211, 0.12);
}

.search {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 406px;
  padding: 96px;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  max-width: 592px;
  margin: 0;
  margin-bottom: 20px;
}

.search-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  max-width: 580px;
  margin: 0;
  margin-bottom: 54px;
}

.search-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  background-color: #756157;
  padding: 8px 50px;
}

.search-link:hover,
.search-link:focus {
  background-color: #615048;
}

.search-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-position: center;
  background-image: url(../images/home/subscribe-background.jpg);
  background-color: #3f3f3f;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  min-height: 415px;
  padding: 96px;
}

.subscribe-catalog {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  max-width: 475px;
  margin: 0;
}

.subscribe-form {
  display: flex;
  margin-top: 54px;
}

.field-email {
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
  border: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.field-email[placeholder] {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 14px 245px 14px 20px;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  width: 232px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 0 4px 4px 0;
  padding: 0;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #68A2CA;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px;
}

.footer-contact-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-phone {
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-logo-html {
  color: #000000;
}

.footer-phone:hover,
.footer-phone:focus,
.footer-logo-html:hover,
.footer-logo-html:focus {
  color: #756157;
}

.footer-phone:active,
.footer-logo-html:active {
  color: rgba(117, 97, 87, 0.3);
}

.catalog-products {
  display: flex;
  flex-direction: column;
  background-image: url(../images/catalog/filter-catalog-background.jpg);
  background-color: #3f3f3f;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  max-width: 1200px;
  margin: 0;
  padding: 35px 70px 70px;
}

.catalog-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  min-width: 114px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  gap: 28px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-house {
  background-image: url(../images/catalog/pagination-home.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 12px;
  height: 12px;
}

.breadcrumbs-link-house::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../images/catalog/pagination-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 8px;
  height: 10px;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  width: 1060px;
  margin-top: 40px;
}

.catalog-filter-group {
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.catalog-filter-wrapper {
  display: flex;
  gap: 2px;
  min-width: 289px;
}

.control-price {
  position: relative;
  height: 48px;
}

.control-input-interval {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 20px;
  margin: 0;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  width: 143px;
  height: 48px;
  border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.control-interval-next {
  border-radius: 0 4px 4px 0;
}

.control-text {
  content: "от";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 17px;
  height: 24px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.control {
  cursor: pointer;
}

.control-input {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.control-item {
  appearance: none; 
}

.catalog-filter-home {
  margin-left: 70px;
}

.catalog-filter-price {
  margin-left: auto;
}

.filter-button-wripper {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  justify-content: end;
}

.filter-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 8px 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #68A2CA;
}

.filter-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.reset-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  padding: 8px 58px;
  margin-top: 32px;
  border: 0;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.reset-button:hover,
.reset-button:focus {
  color: rgba(255, 255, 255, 0.6);
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-hotels {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  min-height: 49px;
}

.select-sorting {
  display: flex;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 292px;
  border: 2px solid #E5E5E5;
  color: #333333;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  padding: 13px 20px;
  margin: 0;
  margin-left: auto;
  background-image: url(../images/catalog/vector-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
  cursor: pointer;
}

.select-sorting option {
  padding: 0;
}

.search-catalog {
  padding: 50px 70px 60px;
}

.search-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.sort-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  list-style-type: none;
  gap: 8px;
}

.search-sort-link {
  background-position: center;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  background-color: #ffffff;
  background-repeat: no-repeat;
  padding: 17px 16px;
  cursor: pointer;
}

.button-choose {
  border: 2px solid #000000;
}

.sort-button-cards {
  background-image: url(../images/catalog/icon-cards.svg);
}

.sort-button-slider {
  background-image: url(../images/catalog/icon-slider.svg);
}

.sort-button-list {
  background-image: url(../images/catalog/icon-list.svg);
}

.hotel-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-gap: 20px;
  box-sizing: border-box;
}


.hotel-item {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 19px;
  border: 1px solid #E6E6E6;
}

.hotel-item-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
}

.hotel-item-image {
  width: 100%;
  object-fit: cover;
}

.hotel-item-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 16px 0;
}

.card-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.hotel-item-text,
.hotel-item-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.hotel-item-price,
.hotel-rating-text {
  text-align: right;
}

.pagination-list {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 78px;
  gap: 8px;
}

.pagination-list::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  top: -40px;
  background-color: #e6e6e6;
}

.pagination-item {
  display: flex;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  background-color: #82B3D3;
  color: #ffffff;
  padding: 20px;
  cursor: pointer;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-current:hover {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-space {
  background-color: #ffffff;
  color: #000000;
}

.pagination-space:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: default;
}

.hotel-class-info {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  background-color: #756157;
  color: #ffffff;
  padding: 8px 26px;
}

.hotel-class-info:hover,
.hotel-class-info:focus {
  background-color: #615048;
}

.hotel-class-info:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.hotel-item-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #82b3d3;
  color: #ffffff;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}

.hotel-item-button:hover,
.hotel-item-button:focus {
  background-color: #68A2CA;
}

.hotel-item-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.hotel-button-current {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.hotel-button-current:hover,
.hotel-button-current:focus {
  background-color: #6C9E42;
}

.hotel-button-current:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}

.stars {
  display: flex;
}

.rating-star {
  background-image: url(../images/catalog/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 17px;
  margin: 10px 6px 10px 0;
}

.hotel-rating-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
}

.footer-contact-link {
  color: #83B3D3;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: #68A2CA;
}

.footer-contact-link:active {
  color: rgba(104, 162, 202, 0.3);
}